<div class="panel">
    <div class="title primary">
        Original List
    </div>
    <form action="/sort" method="get">
      <div class="panel-content">
        <h3>List of Numbers</h3>
        <input id="q" name="q" type="text" autocomplete="off"><div class="line"></div>
      </div>
      <div class="panel-content">
        <h3>Sort Order</h3>
        <label class="col-1-2 label--radio"><input type="radio" name="order" value="asc" checked><span class="ui--radio"></span>Ascending</label>
        <label class="col-1-2 label--radio"><input type="radio" name="order" value="desc"><span class="ui--radio"></span>Descending</label>
      </div>
      <!--
      <div class="panel-content">
        <h3>Numeric Type</h3>
        <label class="col-1-2 label--radio"><input type="radio" name="type" value="int" checked><span class="ui--radio"></span>Integer</label>
        <label class="col-1-2 label--radio"><input type="radio" name="type" value="frac"><span class="ui--radio"></span>Fraction</label>
      </div>
      -->
      <div class="panel-action">
        <input class="btn" type="submit" value="Perform Sort">
        <input class="btn" type="reset" value="Clear">
      </div>
      <div class="loading hidden"></div>
    </form>
</div>
<div class="panel hidden result">
    <div class="title secondary">
        Sorted List
    </div>
    <div class="panel-content">
      <div class="result__value"></div>
    </div>
</div>
